header {
    background: #373810;
    box-shadow: 8px 8px 15px rgba(55, 56, 16, .3);
    z-index: 999;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: 1150px) {
        justify-content: space-between;
    }
    @media (max-width: 990px) {
        padding: 10px 0;
        position: relative;
    }
    .logo-box {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            @media (max-width: 1150px) {
                height: 20px;
            }
        }
    }
    nav {
        display: flex;
        padding: 5px 0;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 990px) {
            display: none;
            padding: 0;
            top: 50px;
            left: -20px;
            width: 100vw;
            position: absolute;
            background: #373810;
            box-shadow: 8px 8px 15px rgba(55, 56, 16, .2);
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 15px;
            @media (max-width: 1150px) {
                margin-right: 5px;
            }
            @media(max-width: 990px) {
                padding: 10px 15px;
                margin: 0;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 5px;
            }
            li {
                a {
                    display: block;
                    font: normal 1rem 'Open Sans', sans-serif;
                    padding: 15px;
                    color: #fff;
                    transition: .3s;
                    &:hover {
                        color: rgb(224, 224, 224);  
                    }
                    @media (max-width: 1150px) {
                        padding: 10px 8px;
                        font-size: .87rem;
                    }
                    @media(max-width: 990px) {
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
            }
            li:nth-child(1) {
                position: relative;
                transition: .3s;
                &::after {
                    content: url(../img/icon/arrow.svg);
                    position: absolute;
                    right: 0;
                    top: 16px;
                    @media (max-width: 1150px) {
                        top: 10px;
                        right: -3px;
                    }
                    @media (max-width: 990px) {
                        right: -20px;
                        top: 11px;
                    }
                }
                &:hover {
                    .sub-menu {
                        display: block;
                        opacity: 1;
                    }
                }
            }
        }
        .sub-menu {
            display: none;
            position: absolute;
            background: #373810;
            left: 15px;
            margin: 0;
            width: 100%;
            opacity: 0;
            transition: .3s;
            @media (max-width: 990px) {
                position: relative;
                left: 15px;
                padding: 0 5px;
                display: block;
                opacity: 1;
            }
            li {
                position: relative;
            }
            li:nth-child(1) {
                &::after {
                   display: none;
                }
            }
            a {
                padding:10px;
                font-size: .87rem;
                @media (max-width: 990px) {
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 0;
                    margin-bottom: 10px;
                }
            }
            li:last-child {
                a {
                    @media (max-width: 990px) {
                        margin: 0;
                    }
                }
            }
        }
    }
    .btn-call {
        display: block;
        font: normal 1rem 'Open Sans', sans-serif;
        color: #fff;
        padding: 10px 15px;
        border: 1px solid #FFFF00;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        @media(max-width: 990px) {
            box-sizing: border-box;
            max-width: 100%;
            font-weight: 600;
            font-size: 1.125rem;
            margin: 0 20px;
            margin-bottom: 20px;
        }
        &:hover {
            background: #FFFF00;
            color: #000;
        }
    }
}

.call-menu {
    display: none;
    @media (max-width: 990px) {
        display: block;
        height: 30px;
    }
}


.backdrop {
    position: fixed;
    left: -110%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    z-index: 99;
    transition: opacity 0.3s ease;
}

.backdrop-active {
    opacity: 1;
    left: 0;
}