.offer {
    background: url(../img/offer/offer-bg.png) no-repeat center center;
    background-size: cover;
    height: 600px;
    @media (max-width: 768px) {
        height: 500px;
    }
    .container {
        height: 100%;
    }
}

.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 500px;
    .text-simple {
        margin-bottom: 70px;
        @media (max-width: 990px) {
            margin-bottom: 30px;
        }
        @media (max-width: 576px) {
            text-align: center;
        }
    }
    .title-xl {
        @media (max-width: 576px) {
            text-align: center;
        }
    }
}